<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminlayout/template_user.html}">

<body >
<div class="main-panel" layout:fragment="content">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Product admin</h4>
                            <p class="card-category"><a href="/createproduct">add</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <th scope="col">Buyer</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <!--                                    <th scope="col">createdAt</th>-->
                                    <th scope="col"></th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item : ${orderitem}">
                                        <th scope="row" th:text="${item.products.user.username}"></th>
                                        <td th:text="${item.products.name}"></td>
                                        <td th:text="${item.orders.priceTotal}"></td>
                                        <td th:text="${item.orders.status}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>