<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminlayout/template_admin.html}">
<head>
    <title>Buyer order</title>
</head>
<body>
<div class="main-panel" layout:fragment="content">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Product admin</h4>
                        </div>
                        <div class="card-body">
                            <div th:if="${mess}" th:text="${mess}" class="bg-success text-white p-2"/>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <th scope="col">Buyer</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">createdAt</th>
                                    <th scope="col">Money Recived</th>
                                    <th scope="col">Action</th>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item : ${orderitem}">
                                            <th scope="row" th:text="${item.products.user.username}"></th>
                                            <td th:text="${item.products.name}"></td>
                                            <td th:text="${item.orders.priceTotal}"></td>
                                            <td th:text="${item.orders.status}"></td>
                                            <td th:text="${item.orders.createdAt}"></td>
                                            <td th:text="${money} + ' (-20% fee)'"></td>
                                            <td th:if="${item.orders.status} != 'DELIVERED' ">
                                                <form method="post" action="/seller_confirm">
                                                <input type="hidden" name="id" th:value="${item.orders.orderid}">
                                                <button type="submit" class="btn btn-primary">CONFIRM</button>
                                                <!--                                        <a class="btn btn-success" th:href="@{/orderdetail(id=${ord.orderid})}">Detail</a>-->
                                                </form>
                                            </td>
                                            <td th:if="${item.orders.status} == 'DELIVERED' ">
                                                <p class="font-weight-bold">CONFIRMED</p>
                                            </td>
                                            <td><a class="btn btn-success" th:href="@{/orderdetail(id=${item.orders.orderid})}">Detail</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>