<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminlayout/template_admin.html}">
<head>
    <title>Buyer order</title>
</head>
<body>
<div class="main-panel" layout:fragment="content">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Product admin</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <th scope="col">Buyer</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">createdAt</th>
                                    <th scope="col">Money Recived</th>
                                    <th scope="col">Action</th>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item : ${orderitem}">
                                            <th scope="row" th:text="${item.orders.user.username}"></th>
                                            <td th:text="${item.products.name}"></td>
                                            <td th:text="${item.orders.priceTotal}"></td>
                                            <td th:text="${item.orders.status}"></td>
                                            <td th:text="${item.orders.createdAt}"></td>
                                            <td th:text="${money} + ' (-2% fee)'"></td>
                                            <td th:if="${item.orders.status} == 'PAID' ">
                                                <form method="post" action="/seller_confirm">
                                                <input type="hidden" name="id" th:value="${item.orders.orderid}">
                                                <button type="submit" class="btn btn-primary">CONFIRM</button>
                                                <!--                                        <a class="btn btn-success" th:href="@{/orderdetail(id=${ord.orderid})}">Detail</a>-->
                                                </form>
                                            </td>
                                            <td th:if="${item.orders.status} == 'DELIVERED'">
                                                <p class="font-weight-bold">CONFIRMED</p>
                                            </td>
                                            <td th:if="${item.orders.status} == 'RECEIVED'">
                                                <p class="font-weight-bold">DONE</p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </form>
                                </table>
<!--                                <nav aria-label="Page navigation">-->
<!--                                    <ul class="pagination">-->
<!--                                        <li th:if="${totalPage > 0}" class="page-item" th:each="t : ${#numbers.sequence( 0, (totalPage - 1)/1)}" th:classappend="${t==page} ? active">-->
<!--                                            <a class="page-link" th:href="@{/listorder(size=${size}, page=${t})}" th:text="${t+1}"></a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </nav>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>