<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template.html}">
<head>
    <meta charset="UTF-8">
    <title>create product</title>
    <link rel="stylesheet" th:href="@{css/create_product.css}">
    <script type="text/javascript" th:src="@{js/create_product.js}"></script>
</head>
<body>

<main class="main" layout:fragment="content">
    <div class="form_wrapperss" style="margin-top: 20px; padding-bottom: 20px">
        <h1>Create Product</h1>
        <form class="form_img" action="/createproduct" method="post" id="form_img" th:object="${productDto}" enctype="multipart/form-data">
            <input type="hidden" name="id" th:field="*{productid}">
            <div class="name_product" style="width: 600px;float: left;margin: 0 0 20px 200px">
                <label for="namep">Product Name</label>
                <br/>
                <input id="namep" type="text" name="name" th:field="${productDto.name}">
            </div>
            <div class="quantity_product" style="float: left;margin: 0 0px 20px -300px">
                <label for="quantity">Quantity product</label><br/>
                <input type="number"  id="quantity" min="1" name="quantity" th:field="${productDto.quantity}">
            </div>
            <div class="price_product" style="float: left;margin: 0 0 20px 20px">
                <label for="pr">Product Price</label>
                <br/>
                <input id="pr" type="text" th:field="${productDto.price}" name="price">
            </div>

            <div class="description_product" style="float: left; width: 100%;margin: 0 0 20px 200px">
                <label for="description">Description product</label>
                <br>
                <textarea id="description" rows="5" cols="126%" th:field="${productDto.description}" name="description"></textarea>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <input type="file"  class="custom-file-input" id="filename" name="filename"  accept="image/jpeg,image/png,image/jpg">
                    <label class="custom-file-label" for="filename">Choose file</label>
                </div>
                <input type="hidden" name="imgname" th:value="${productDto.image}" >
                <div class="form-group">
                    <img th:src="@{${'/images/' + productDto.image}}">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success" >Add Product</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script>
        bsCustomFileInput.init();
    </script>
</main>


</body>

</html>