<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminlayout/template_admin.html}">
<head>
    <title>
        Dashboard
    </title>


</head>

<body >
<div class="main-panel" layout:fragment="content">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Add </h4>
                            <p class="card-category">Create your </p>
                        </div>
                        <div class="card-body">
                            <form method="post" th:action="@{/new}" th:object="${ship}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="name" class="bmd-label-floating">Name</label>
                                            <input type="text" name="name" th:field="${ship.name}" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="phone" class="bmd-label-floating">Phone</label>
                                            <input type="text" name="phone" th:field="${ship.phone}" class="form-control"><br/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="typeShip" class="bmd-label-floating">Type Ship</label>
                                            <select id="typeShip" th:field="${ship.activateid}" class="selected">
                                                <option th:each="activate : ${list_type}" th:value="${activate.id}" th:text="${activate.name}"></option>
                                            </select><br/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="active" class="bmd-label-floating">Active</label>
                                            <select id="active" th:field="${ship.activeid}" class="selected">
                                                <option th:each="active : ${list_active}" th:value="${active.activeid}" th:text="${active.name}"></option>
                                            </select><br/>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary pull-right">Create</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>
