<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminlayout/template_admin.html}">

<body >
<div class="main-panel" layout:fragment="content">
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Product</h4>
                    </div>
                    <div class="card-body">
                        <a href="/createproduct" class="btn btn-primary">Create product</a>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Image</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Description</th>
                                <!--                                    <th scope="col">createdAt</th>-->
                                <th scope="col"></th>
                                </thead>
                                <tbody>
                                <tr th:each="product : ${products}">
                                    <th scope="row" th:text="${product.productid}"></th>
                                    <td th:text="${product.name}"></td>
                                    <td > <img th:src="@{${'/images/' + product.image}}"height="50px"width="50px"></td>
                                    <td th:text="${product.price}"></td>
                                    <td th:text="${product.quantity}"></td>
                                    <td th:text="${product.description}"></td>
                                    <!--                                        <td th:text="${product.createdAt}"></td>-->
                                    <td><a th:href="@{/updateproduct(id=${product.productid})}" th:text="Edit"></a></td>
                                </tr>
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li th:if="${totalPage > 0}" class="page-item" th:each="t : ${#numbers.sequence( 0, (totalPage - 1)/1)}" th:classappend="${t==page} ? active">
                                        <a class="page-link" th:href="@{/list(size=${size}, page=${t})}" th:text="${t+1}"></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>

</html>