
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminlayout/template_admin.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-panel" layout:fragment="content">
    <div class="user-detail" th:object="${ord}">
        <p >Phone</p><p th:text="${ord.phone}"></p>
        <p >Description</p><p th:text="${ord.description}"  ></p>
        <p >Address</p><p th:text="${ord.address}"></p>
        <p >Fullname</p><p th:text="${ord.fullname}"></p>
        <p >Price total</p><p th:text="${ord.priceTotal}"></p>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <th scope="col">Product</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">createdAt</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item : ${orderitem}">
                                        <td th:text="${item.products.name}"></td>
                                        <td th:text="${item.orders.priceTotal}"></td>
                                        <td th:text="${item.orders.status}"></td>
                                        <td th:text="${item.orders.createdAt}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
