
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="main" layout:fragment="content">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                    <th scope="col">Phone</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">fullname</th>
                                    <th scope="col">Price total</th>
                                    </thead>
                                    <tbody>
                                    <tr th:object="${ord}">
                                        <td th:text="${ord.phone}"></td>
                                        <td th:text="${ord.description}"  ></td>
                                        <td th:text="${ord.address}"></td>
                                        <td th:text="${ord.fullname}"></td>
                                        <td th:text="${ord.priceTotal}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main><!-- End .main -->

</body>
</html>
