<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="wrap-container">
        <main class="main">
            <div class="page-header text-center" style="background-image: url('images/page-header-bg.jpg')">                <div class="container">
                    <h1 class="page-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thủ tục thanh toán</font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">cửa tiệm</font></font></span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trang Chủ</font></font></a></li>
                        <li class="breadcrumb-item"><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">cửa tiệm</font></font></a></li>
                        <li class="breadcrumb-item active" aria-current="page"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thủ tục thanh toán</font></font></li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="checkout">
                    <div class="container">
                        <div class="checkout-discount">
                            <form action="#">
                                <input type="text" class="form-control" required="" id="checkout-discount-input">
                                <label for="checkout-discount-input" class="text-truncate"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Có phiếu giảm giá? </font></font><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bấm vào đây để nhập mã của bạn</font></font></span></label>
                            </form>
                        </div><!-- End .checkout-discount -->
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-9">
                                    <h2 class="checkout-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Chi tiết thanh toán</font></font></h2><!-- End .checkout-title -->
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tên đầu tiên *</font></font></label>
                                            <input type="text" class="form-control" required="">
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Họ *</font></font></label>
                                            <input type="text" class="form-control" required="">
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tên công ty (nếu có)</font></font></label>
                                    <input type="text" class="form-control">

                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Quốc gia *</font></font></label>
                                    <input type="text" class="form-control" required="">

                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Địa chỉ đường phố *</font></font></label>
                                    <input type="text" class="form-control" placeholder="Số nhà và tên đường" required="">
                                    <input type="text" class="form-control" placeholder="Căn hộ, dãy phòng, đơn vị, v.v." required="">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Thị trấn / Thành phố *</font></font></label>
                                            <input type="text" class="form-control" required="">
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tiểu bang / Quận *</font></font></label>
                                            <input type="text" class="form-control" required="">
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mã bưu / Zip *</font></font></label>
                                            <input type="text" class="form-control" required="">
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Điện thoại *</font></font></label>
                                            <input type="tel" class="form-control" required="">
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Địa chỉ email *</font></font></label>
                                    <input type="email" class="form-control" required="">

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkout-create-acc">
                                        <label class="custom-control-label" for="checkout-create-acc"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tạo một tài khoản?</font></font></label>
                                    </div><!-- End .custom-checkbox -->

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
                                        <label class="custom-control-label" for="checkout-diff-address"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Gửi đến một địa chỉ khác?</font></font></label>
                                    </div><!-- End .custom-checkbox -->

                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ghi chú đơn hàng (tùy chọn)</font></font></label>
                                    <textarea class="form-control" cols="30" rows="4" placeholder="Ghi chú về đơn đặt hàng của bạn, ví dụ như ghi chú đặc biệt khi giao hàng"></textarea>
                                </div><!-- End .col-lg-9 -->
                                <aside class="col-lg-3">
                                    <div class="summary">
                                        <h3 class="summary-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đơn hàng của bạn</font></font></h3><!-- End .summary-title -->

                                        <table class="table table-summary">
                                            <thead>
                                            <tr>
                                                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sản phẩm</font></font></th>
                                                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Toàn bộ</font></font></th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr>
                                                <td><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Giày Á hậu co giãn dệt kim màu be</font></font></a></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 84,00</font></font></td>
                                            </tr>

                                            <tr>
                                                <td><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Màu xanh dương tiện ích pinafore denimdress</font></font></a></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 76,00</font></font></td>
                                            </tr>
                                            <tr class="summary-subtotal">
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tổng phụ:</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 160,00</font></font></td>
                                            </tr><!-- End .summary-subtotal -->
                                            <tr>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đang chuyển hàng:</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Miễn phí vận chuyển</font></font></td>
                                            </tr>
                                            <tr class="summary-total">
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Toàn bộ:</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 160,00</font></font></td>
                                            </tr><!-- End .summary-total -->
                                            </tbody>
                                        </table><!-- End .table table-summary -->

                                        <div class="accordion-summary" id="accordion-payment">
                                            <div class="card">
                                                <div class="card-header" id="heading-1">
                                                    <h2 class="card-title">
                                                        <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                            Chuyển tiền trực tiếp qua ngân hàng
                                                        </font></font></a>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
                                                    <div class="card-body"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                        Thực hiện thanh toán của bạn trực tiếp vào tài khoản ngân hàng của chúng tôi. </font><font style="vertical-align: inherit;">Vui lòng sử dụng ID đơn đặt hàng của bạn làm tham chiếu thanh toán. </font><font style="vertical-align: inherit;">Đơn đặt hàng của bạn sẽ không được chuyển cho đến khi tiền đã hết trong tài khoản của chúng tôi.
                                                    </font></font></div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->

                                            <div class="card">
                                                <div class="card-header" id="heading-2">
                                                    <h2 class="card-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                            Kiểm tra các khoản thanh toán
                                                        </font></font></a>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->

                                            <div class="card">
                                                <div class="card-header" id="heading-3">
                                                    <h2 class="card-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                            Thanh toán khi giao hàng
                                                        </font></font></a>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                                                    <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->

                                            <div class="card">
                                                <div class="card-header" id="heading-4">
                                                    <h2 class="card-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                            PayPal </font></font><small class="float-right paypal-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">PayPal là gì?</font></font></small>
                                                        </a>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->

                                            <div class="card">
                                                <div class="card-header" id="heading-5">
                                                    <h2 class="card-title">
                                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                            Thẻ tín dụng (Sọc)
                                                        </font></font><img src="images/payments-summary.png" alt="thẻ thanh toán">
                                                        </a>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
                                                    <div class="card-body"> Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit ame.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->
                                        </div><!-- End .accordion -->

                                        <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                            <span class="btn-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đặt hàng</font></font></span>
                                            <span class="btn-hover-text">Proceed to Checkout</span>
                                        </button>
                                    </div><!-- End .summary -->
                                </aside><!-- End .col-lg-3 -->
                            </div><!-- End .row -->
                        </form>
                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main>
    </div>
</div>
</body>