<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template.html}">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<main class="main" layout:fragment="content">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">My Account<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                           <!-- <li class="nav-item">
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">My Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">My orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-list-buyer" data-toggle="tab" href="#tab-buyer" role="tab" aria-controls="tab-buyer" aria-selected="false">Buyer orders</a>
                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sign Out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                          <!--  <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                <p>Hello <span class="font-weight-normal text-dark">User</span> (not <span class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>)
                                    <br>
                                    From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
                            </div>&lt;!&ndash; .End .tab-pane &ndash;&gt;

                            <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                <div class="col-lg-12">
                                    <table class="table table-cart table-mobile">
                                        <thead>
                                        <div><p class="font-weight-bold">User Buyer name</p></div>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="product-col">
                                                <div class="product">
                                                    <h3 class="product-title">
                                                        <a href="#">Beige knitted elastic runner shoes</a>
                                                    </h3>&lt;!&ndash; End .product-title &ndash;&gt;
                                                </div>&lt;!&ndash; End .product &ndash;&gt;
                                            </td>
                                            <td class="price-col">$84.00</td>
                                            <td class="quantity-col">
                                                <div class="cart-product-quantity">8</div>&lt;!&ndash; End .cart-product-quantity &ndash;&gt;
                                            </td>
                                            <td class="total-col">$84.00</td>
                                            <td class="remove-col"><button class="btn-remove"><i class="icon-close"></i></button></td>
                                        </tr>
                                        </tbody>
                                    </table>&lt;!&ndash; End .table table-wishlist &ndash;&gt;
                                </div>
                              </div>&lt;!&ndash; .End .tab-pane &ndash;&gt;

                            <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
                                <div class="col-lg-12">
                                    <a href="/createproduct" class="btn btn-outline-primary-2"><span>Create Product</span><i class="las la-long-arrow-alt-right"></i></a>
                                </div>
                                <div class="col-lg-12">
                                   <form action="" method="post">
                                    <table class="table table-cart table-mobile">
                                        <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="product-col">
                                                <div class="product">
                                                    <h3 class="product-title">
                                                        <a href="#">Beige knitted elastic runner shoes</a>
                                                    </h3>&lt;!&ndash; End .product-title &ndash;&gt;
                                                </div>&lt;!&ndash; End .product &ndash;&gt;
                                            </td>
                                            <td class="price-col">$84.00</td>
                                            <td class="quantity-col">
                                                <div class="cart-product-quantity">8</div>&lt;!&ndash; End .cart-product-quantity &ndash;&gt;
                                            </td>
                                            <td class="total-col">$84.00</td>
                                        </tr>
                                        <tr>
                                            <td><span>Seller: user</span></td>
                                            <td><span>Subtotal: 15$</span></td>
                                            <td colspan="2"><span><a href="" class="btn btn-primary float-right">Product received</a> </span></td>
                                        </tr>
                                        </tbody>
                                    </table>&lt;!&ndash; End .table table-wishlist &ndash;&gt;
                                   </form>
                                </div>

                            </div>&lt;!&ndash; .End .tab-pane &ndash;&gt;

                            <div class="tab-pane fade" id="tab-buyer" role="tabpanel" aria-labelledby="tab-buyer">

                                <div class="col-lg-12">
                                    <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="las la-long-arrow-alt-right"></i></a>
                                    <table class="table table-cart table-mobile">
                                        <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="product-col">
                                                <div class="product">
                                                    <h3 class="product-title">
                                                        <a href="#">Beige knitted elastic runner shoes</a>
                                                    </h3>&lt;!&ndash; End .product-title &ndash;&gt;
                                                </div>&lt;!&ndash; End .product &ndash;&gt;
                                            </td>
                                            <td class="price-col">$84.00</td>
                                            <td class="quantity-col">
                                                <div class="cart-product-quantity">8</div>&lt;!&ndash; End .cart-product-quantity &ndash;&gt;
                                            </td>
                                            <td class="total-col">$84.00</td>
                                            <td class="remove-col"><button class="btn-remove"><i class="icon-close"></i></button></td>
                                        </tr>
                                        </tbody>
                                    </table>&lt;!&ndash; End .table table-wishlist &ndash;&gt;
                                </div>

                            </div>&lt;!&ndash; .End .tab-pane &ndash;&gt;

-->
                            <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                <p>The following addresses will be used on the checkout page by default.</p>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card card-dashboard">
                                            <div class="card-body" th:object="${userEntity}">
                                                <h3 class="card-title">Billing Address</h3><!-- End .card-title -->

                                                <p th:text="${userEntity.username}"></p>
                                                <p th:text="${userEntity.email}"></p>
                                                <p th:text="${userEntity.phone}"></p>
                                                   <!-- <a  data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false" th:text="Edit">Edit <i class="icon-edit"></i></a>-->
                                            </div><!-- End .card-body -->
                                        </div><!-- End .card-dashboard -->
                                    </div><!-- End .col-lg-6 -->

                                    <!--<div class="col-lg-6">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <h3 class="card-title">Shipping Address</h3>&lt;!&ndash; End .card-title &ndash;&gt;

                                                <p>You have not set up this type of address yet.<br>
                                                    <a href="#">Edit <i class="icon-edit"></i></a></p>
                                            </div>&lt;!&ndash; End .card-body &ndash;&gt;
                                        </div>&lt;!&ndash; End .card-dashboard &ndash;&gt;
                                    </div>&lt;!&ndash; End .col-lg-6 &ndash;&gt;-->
                                </div><!-- End .row -->
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                <form method="post" action="/updateprofile" th:object="${userEntity}" >

                                    <label for="phone">Phone</label>
                                    <input type="text" name="phone"  th:field="${userEntity.phone}" class="form-control" >

                                    <label for="email">Email</label>
                                    <input type="text" name="email" th:field="${userEntity.email}" class="form-control">

                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>SAVE CHANGES</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </form>
                            </div><!-- .End .tab-pane -->
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main>
</body>
</html>