<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template.html}">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
</head>
<body>
<div layout:fragment="content">
    <h2 style="margin-top: 40px; text-align: center">Contact Us</h2>
    <p style="margin-top: 40px;margin-bottom: 40px; text-align: center"> Thank you for contacting us. We'll get back to you shortly</p>
</div>
</body>
</html>
