<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminlayout/template_admin.html}">
<head>
    <title>
        Create banner
    </title>
</head>
<body layout:fragment="content">
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Add Banner </h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/updateBanner">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="select-custom">
                                            <label for="bannerid">Banner list</label>
                                            <select class="form-control" aria-label="category" id="bannerid" th:name="bannerid" >
                                                <option th:each="item:${List}"
                                                        th:text="${item.bannerid}"
                                                        th:value="${item.bannerid}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name" class="bmd-label-floating">ProductId</label>
                                        <input type="text" name="productid" id="name" th:field="${Banner.productid}"
                                               class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="file" id="filename"
                                               accept="image/jpeg,image/png,image/jpg">
                                        <label class="custom-file-label" for="filename">Choose file</label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Update banner</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
<script>
    bsCustomFileInput.init();
</script>
</body>
</html>